@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --fFamily: 'Roboto', sans-serif;
    --mainBg: rgb(46, 43, 41);
    --playerBg: rgb(196, 196, 196);
    --titleColor: rgb(225, 102, 35);
}

* {
    font-family: var(--fFamily);
}

body {
    background-color: var(--mainBg);
}

.nav-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 16vw;
}

.logo-container {
    display: flex;
    flex-direction: column;
    height: 16vh;
    width: auto;
}

.logo-container img {
    margin-left: 30px;
    width: 150px;
    height: 120px;
}

.nav-container a {
    height: 10vh;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 2vh 1vw 2vh 2vw;
}

.nav-container h1 {
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2vh 1vw 0.4vh 2vw;
    color: white;
}

.nav-container ul li {
    list-style-type: none;
    margin-left: 1vw;
    color: white;
}

.playlist-container, .rplayed-container {
    overflow: auto;
    height: 17vh;
    width: 100%;
}

.player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--playerBg);
    height: 17vh;
    width: 100vw;
    padding: 3vh 2vw 1vh 17vw;
}

.row-color {
    color: black;
}

.first-col-player {
    display: flex;
    flex-direction: row;
}

.player-album {
    height: 80px;
    width: 80px;
    margin-right: 1.2vw;
}

.player-title {
    font-weight: 900;
}

.player-artist {
    font-size: 0.9rem;
}

.svg-size {
    width: 20px;
}

.menu-icon {
    transform: rotate(90deg);
    float: right;
}

.pause-icon {
    width: 40px;
}

.next-icon {
    transform: rotate(180deg);
}

.icontainer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.duration-slider {
    appearance: none;
    width: 100%;
    height: 4px;
    background: #777069;
    border-radius: 10px;
}

.duration-slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #131211;
    cursor: pointer;
    border-radius: 20px;
}

.volume-icon {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 40px;
    margin: 20px;
}

.main-container {
    color: white;
    height: 100vh;
    width: 100vw;
    padding: 4vh 3vw 19vh 19vw;
}

.search-bar {
    background: var(--playerBg);
    border: none;
    width: 20vw;
    padding: 1vh 1vw 1vh 1vw;
}

.main-container h1 {
    margin: auto;
    margin-top: 3vh;
    font-weight: 700;
    font-size: 4rem;
    color: var(--titleColor);
}

.main-container p {
    font-weight: 300;
    font-size: 1.3rem;
    margin: auto;
    margin-top: -1.7vh;
    margin-left: 9vw;
    color: #8A8785;
}

.table-container{
    margin-top: 5vh;
    overflow: auto;
    height: 23vw;
    width: 100%;
}

.main-container table{
    width: 100%;
    table-layout: fixed;
}

.main-container table th {
    position: sticky;
    top: 0;
    background: var(--playerBg);
    color: black;
    padding: 2vh 1vw;
}

.main-container table td {
    padding: 2vh 1vw;
    font-weight: 600;
}

.album-size {
    width: 4vw;
}

.time-duration {
    color: #8A8785;
    font-size: 0.9rem;
    font-weight: 300;
}

.modal-container {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.upload-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #CDC8C6;
    height: 350px;
    width: 500px;
    transform: translate(-50%, -50%);
}

.upload-modal .header {
    background: #7F7671;
    height: 50px;
    width: 100%;
    padding: 10px;
}

.upload-modal h1 {
    color: black;
    font-weight: 900;
    font-size: 25px;
}

.upload-modal .drag-container {
    margin: 24px;
    background: gray;
    height: 170px;
    width: 90%;
}

.upload-modal .drag-container h1 {
    font-size: 23px;
    padding-top: 70px;
    text-align: center;
    color: white;
}

.upload-modal .modal-btn {
    margin-right: 20px;
    margin-top: 30px;
    float: right;
}

.upload-modal div .upload-btn {
    background: #7F7671;
    padding: 5px;
    width: 100px;
    border: none;
    margin-right: 10px;
    font-weight: 800;
}

.upload-modal div .cancel-btn {
    background: white;
    padding: 5px;
    width: 100px;
    border: none;
    margin-right: 10px;
    font-weight: 800;
}

.create-modal-container {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.create-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #CDC8C6;
    height: 350px;
    width: 500px;
    transform: translate(-50%, -50%);
}

.create-modal .header {
    background: #7F7671;
    height: 50px;
    width: 100%;
    padding: 10px;
}

.create-modal h1 {
    color: black;
    font-weight: 900;
    font-size: 25px;
}

.create-modal .input-container {
    margin: 24px;
    background: #CDC8C6;
    height: 170px;
    width: 90%;
}

.create-modal .input-container input {
    font-size: 16px;
    padding-left: 13px;
    width: 100%;
    color: gray;
}

.create-modal .modal-btn {
    margin-right: 20px;
    margin-top: 30px;
    float: right;
}

.create-modal div .create-btn {
    background: #7F7671;
    padding: 5px;
    width: 100px;
    border: none;
    margin-right: 10px;
    font-weight: 800;
}

.create-modal div .cancel-btn {
    background: white;
    padding: 5px;
    width: 100px;
    border: none;
    margin-right: 10px;
    font-weight: 800;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #877E78;
    border-radius: 60px;
}
 
::-webkit-scrollbar-thumb {
    background: #954D24; 
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}